<div class="overlay_menu_childList" id="overlay_menu_Feedback">
    <div class="sidebar_title">
        <em class="fas fa-arrow-left" onclick="overlayExtend('overlay_menu_Feedback')"></em>
        <span>Feedback</span>
    </div>
    <div id="menuItemList">

        <form action="mailto:17132339@student.hhs.nl" method="post" enctype="text/plain">
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" class="inputMail"><br><br>
            <input type="submit" value="Send">
        </form>
    </div>
</div>
